// ----{ VARIABLES }----
$background-color: #1E2A2D;
$font-color: #f5f5f5;

$font-palanquin: 'Palanquin Dark', sans-serif;
$font-salabo: 'Slabo 27px', serif;

// ----{ CANVAS }----
$canvas-color: #252525;
$canvas-width: 480px;
$canvas-height: 690px;

// ----{ MIXINS }----
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow:$top $left $blur $color #{$inset};
	-moz-box-shadow:$top $left $blur $color #{$inset};
	box-shadow:$top $left $blur $color #{$inset};
}

// ----{ STYLESHEET }----
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700|Slabo+27px');

html, body {
    background-color: $background-color;
    color: $font-color;
    font-family: $font-salabo;
    text-shadow: 0 1px 0 rgba($font-color, 0.35);
}

body.wrapper {
    text-align: center;
    padding: 1.1em;
    canvas {
        display: block;
        width: $canvas-width;
        height: $canvas-height;
        margin: auto;
		padding: 0.4em;
        vertical-align: middle;
        background-color: lighten($background-color, 20%);
        border-radius: 6px;
        @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.75));
    }
    footer {
        position: fixed;
        bottom: 1em;
        left: 1em;
        span.license {
            font-size: 0.85em;
        }
        a {
            color: $font-color;
            font-family: $font-palanquin;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
